---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar';
import Footer from '../components/Footer';
import PrivacyPolicyView from '../components/PrivacyPolicyView';
---

<Layout title="Privacy Policy - LumerLabs">
	<Navbar client:load />
	<main>
		<PrivacyPolicyView client:load />
	</main>
	<Footer client:load />
</Layout>